body {
    box-sizing: border-box;
    min-width: 400px;
    width: 100%;
    font-family: 'PT Serif', serif;
}

.headerImg {
    background-image: url("../pics/header.jpg");
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
}

.headerText {
    position: absolute;
    color: white;
    top: 25%;
    left: 25%;

    & h1 {
        font-size: 70px;
    }
    & p {
        font-size: 30px;
        font-weight: bold;
    }
}

.numberOne {
    background-color: $primary;
    @include width(110px);
}

.firstRowDivs {
    @include height(200px);
}

.spanNum {
    font-size: 90px;
    color: white;
}

.firstRowImg {
    width: 200px;
    height: 200px;
}

.secondRowDivs {
    @include height(250px);
}

.secondRowImg {
    width: 150px;
    height: 250px;
}

.numberTwo {
    background-color: $primary;
    @include width(180px);
}